<div drop-files="linker.resource.file"
	on-drop="linker.resource.title = linker.resource.file[0].name; linker.createResource()">

	<input type="button" value="Ajouter une pièce jointe" ng-click="attachments.display.pickFile = true" />

	<h2 ng-if="linker.resource.file.length">Pièces jointes</h2>

	<ul>
		<li ng-repeat="attachment in attachments.attachmentsList()">
			[[attachment.title]] - <a ng-click="attachments.removeAttachment(attachment)">Supprimer</a>
		</li>
	</ul>

	<lightbox show="attachments.display.pickFile" on-close="attachments.display.pickFile = false">
		<div class="linker">
			<h2>Ajouter une pièce jointe</h2>

			<div class="row">
				<div class="twelve cell vertical-spacing">
					<div class="row">
						<input type="text" i18n-placeholder="search" ng-model="attachments.display.search.text" class="six cell" ng-change="attachments.searchApplication()" />
						<select
								ng-if="attachments.apps.length > 1"
								ng-model="attachments.display.search.application"
								ng-options="app.name for app in attachments.apps"
								class="five right-magnet cell"
								ng-change="attachments.loadApplicationResources()">
						</select>
					</div>
				</div>
			</div>
			<article class="found-resources" ng-class="{ info: attachments.search.text === '' }">
				<div ng-if="(attachments.resources.length === 0 || attachments.display.search.text === '') && prefix">
					<div ng-include="'/' + prefix + '/public/template/behaviours/linker-notfound.html'"></div>
				</div>
				<ul class="illustrated-list" ng-if="attachments.display.search.text">
					<li ng-repeat="resource in attachments.resources" ng-click="attachments.addAttachment(resource)" class="cell-ellipsis">
						<img skin-src="[[resource.icon]]" class="illustration" />
						<a class="name">[[resource.title]]</a>
						<em class="owner">[[resource.ownerName]]</em>
					</li>
				</ul>
			</article>
		</div>
	</lightbox>

</div>
