<div class="calendar-current-week">
    <div class="calendarFiltersButtons" ng-if="display.enableModes || display.showNextPreviousButton">
        <div class="calendarOptionButtonGroup displayOptionsButtons" ng-if="display.enableModes">
            <button ng-click="display.lightboxOptions = true;"><i class="manage"></i></button>
        </div>
        <div class="calendarOptionButtonGroup displayModeButtons" ng-if="display.enableModes">
            <button ng-click="display.mode = 'day'" ng-class="{cyan: display.mode === 'day'}">
                <i18n>calendar.mode.day</i18n>
            </button>
            <button ng-click="display.mode = 'week'" ng-class="{cyan: display.mode === 'week'}">
                <i18n>calendar.mode.week</i18n>
            </button>
            <button ng-click="display.mode = 'month'" ng-class="{cyan: display.mode === 'month'}">
                <i18n>calendar.mode.month</i18n>
            </button>
        </div>
        <div class="calendarOptionButtonGroup nextPrevious" ng-if="display.showNextPreviousButton">
            <button ng-click="calendar.previous();">&#8592;</button>
            <button ng-click="calendar.next();">&#8594;</button>
        </div>
    </div>

	<span ng-if="display.mode === 'day'">
		[[calendar.firstDay.format('Do MMMM YYYY')]]
	</span>
    <span ng-if="display.mode === 'week'">
		<i18n>calendar.mode.week</i18n> [[moment(calendar.firstDay).week()]] <span class="zero-mobile">- [[calendar.firstDay.format('DD/MM/YYYY')]] <i18n>calendar.weekto</i18n> [[moment(calendar.firstDay).add(6, 'days').format('DD/MM/YYYY')]]</span>
	</span>
    <span ng-if="display.mode === 'month'">
		[[moment(calendar.firstDay).format('MMMM YYYY')]]
	</span>
</div>
<div class="week-switcher" ng-if="display.mode !== 'month'">
    <date-picker-icon ng-model="calendar.firstDay" ng-change="updateCalendarDate()" class="cell"></date-picker-icon>
</div>
<div class="schedule" drawing-zone ng-if="display.mode !== 'month'">
    <legend class="timeslots">
        <div ng-repeat="timeslot in calendar.timeSlots.all" class="timeslot"
             tooltip="[[timeslot.displayTime]]">
            [[timeslot.name]]
        </div>
    </legend>
    <div class="days">
        <button class="previous-timeslots" ng-click="previousTimeslots()" ng-disabled="calendar.timeSlots.first().start == timeOfDay.start"></button>
        <div ng-if="display.mode !== 'week' || optionalDisplay(day)"
             ng-repeat="day in calendar.days.all" class="day"
             ng-class="{
                single: display.mode === 'day',
                week: display.mode === 'week',
                sixDays: ( (display.saturday && !display.sunday) || (!display.saturday && display.sunday) ),
                fiveDays: (!display.saturday && !display.sunday),
             }">
            <legend>
                <div translate content="[[day.name]]"></div>
                <div>[[ day.date.format('DD/MM') ]]</div>
            </legend>
            <div class="hidden-schedule-items before" ng-if="day.scheduleItems.beforeCalendar() > 0">
                + [[day.scheduleItems.beforeCalendar()]]
            </div>

            <div ng-if="display.readonly" class="timeslots" >
                <div ng-repeat="timeslot in day.timeSlots.all" class="timeslot" ng-class="{quarterHours: display.quarterHours}">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </div>
            <div ng-if="!display.readonly" class="timeslots">
                <div ng-repeat="timeslot in day.timeSlots.all" class="timeslot" ng-click="createItem(day, timeslot)" ng-class="{quarterHours: display.quarterHours}">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </div>

            <div class="schedule-items">
                <div ng-repeat="item in day.scheduleItems.all">
                    <schedule-item item="scheduleItem" day="day"
                                   tooltip
                                   tooltip-template="{{ itemTooltipTemplate }}"
                                   tooltip-target-selector=".schedule-item"
                                   tooltip-restrict-selector=".days"
                    ></schedule-item>
                </div>
            </div>
            <div class="hidden-schedule-items after" ng-if="day.scheduleItems.afterCalendar() > 0">
                + [[day.scheduleItems.afterCalendar()]]
            </div>
        </div>
        <button class="next-timeslots" ng-click="nextTimeslots()"  ng-disabled="calendar.timeSlots.last().end == timeOfDay.end"></button>
    </div>
    <div class="row"></div>
</div>
<div class="schedule schedule-month"
     ng-if="display.mode === 'month'"
     ng-class="{
                sixDays: ( (display.saturday && !display.sunday) || (!display.saturday && display.sunday) ),
                fiveDays: (!display.saturday && !display.sunday),
             }"
>
    <div class="legend">
        <div class="month-day offset-0">[[ moment().day(1).format('dddd') ]]</div>
        <div class="month-day">[[ moment().day(2).format('dddd') ]]</div>
        <div class="month-day">[[ moment().day(3).format('dddd') ]]</div>
        <div class="month-day">[[ moment().day(4).format('dddd') ]]</div>
        <div class="month-day">[[ moment().day(5).format('dddd') ]]</div>
        <div ng-if="display.saturday" class="month-day">[[ moment().day(6).format('dddd') ]]</div>
        <div ng-if="display.sunday" class="month-day">[[ moment().day(7).format('dddd') ]]</div>
    </div>
    <div class="grid">
        <div ng-repeat="day in calendar.days.all"
             class="month-day offset-{{ getMonthDayOffset(day) }}"
             ng-if="optionalDisplay(day)"
        >
            <span class="day-number" ng-click="createItem(day)">[[ day.date.format('D') ]]</span>
            <div class="schedule-items">
                <div ng-repeat="item in day.scheduleItems.all"
                     class="item"
                     tooltip
                     tooltip-template="{{ itemTooltipTemplate }}"
                     tooltip-restrict-selector=".schedule-month">
                    <container template="schedule-display-month-template"></container>
                </div>
            </div>
        </div>
    </div>
</div>

<lightbox show="display.editItem" on-close="display.editItem = false;">
    <container template="schedule-edit-template"></container>
</lightbox>
<lightbox show="display.createItem" on-close="closeCreateWindow()" delegate-close="canICloseLightBox()">
    <container template="schedule-create-template"></container>
</lightbox>
<lightbox show="display.moreItems" on-close="display.moreItems = false;" class="schedules-more-items">
    <container template="schedule-more-items-template"></container>
</lightbox>

<lightbox show="display.lightboxOptions" on-close="display.lightboxOptions = false;">
    <container template="calendarDefaultDisplayOptionsTemplate"></container>
</lightbox>