<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<section class="row media-library" ng-controller="MediaLibrary">
	<h2 translate content="library.title"></h2>
	<section class="twelve cell tabs row">
		<header ng-class="{ selected: display.show === 'record' }"
				ng-click="show('record')"
				workflow="workspace.create"
				ng-if="fileFormat === 'audio'"
				translate content="library.header.record">
		</header>
		<header ng-class="{ selected: display.show === 'upload' }"
				ng-click="show('upload')"
				workflow="workspace.create"
				translate content="library.header.upload">
		</header>
		<header
			ng-class="{ selected: display.show === 'browse' }"
			ng-click="show('browse')"
			translate content="library.header.browse">
		</header>
		<section class="medium-text" ng-include="showPath()">

		</section>
	</section>
</section>