<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<div class="share">
	<div class="row line">
		<h2><i18n>share.title</i18n></h2>
		<div class="block" ng-if="varyingRights">
			<div class="warning">
				<i18n>share.varyingrights</i18n>
			</div>
		</div>

		<div class="groups-list">

			<div>
				<ng-include src="shareTable"></ng-include>
			</div>

			<a ng-click="displayMore()" ng-if="sharingModel.edited.length > maxEdit" class="display-more"><i18n>share.more</i18n></a>
		</div>
	</div>



	<div class="row">
		<h2>[[translate('share.search.title')]]</h2>
		<search-user class="twelve cell" 
			ng-model="search"
			clear-list="clearSearch()"
			on-send="findUserOrGroup()">
		</search-user>
		<div class="found-users-list">
			<div ng-repeat="item in found | limitTo:maxResults | orderBy:'lastName'" class="row autocomplete">
				<em ng-click="addEdit(item)" class="row">
					<span class="cell reduce-block-two">[[item.name]][[item.lastName]] [[item.firstName]]</span>
					<em class="low-importance cell">[[translate(item.profile)]] </em>
					<em class="low-importance cell"> [[item.login]]</em>
					<div class="row"></div>
				</em>
			</div>
			<div class="row">
				<a ng-click="addResults()" ng-if="found.length > maxResults" class="right-magnet reduce-block-four">
					<i18n>seemore</i18n>
				</a>
			</div>
		</div>
	</div>
</div>
