<div class="table-mobile">
	<ul>
		<li class="heading">
			[[translate('share.me')]]
		</li>
		<li class="roles-list" ng-repeat="action in actions | orderBy:'priority'">
			<div class="role">
				[[translate(action.displayName)]]
			</div>
			<label class="checkbox"><input type="checkbox" checked disabled /><span></span></label>
		</li>
	</ul>

	<ul ng-repeat="item in sharingModel.edited | orderBy:'index':true | limitTo:maxEdit" >
		<li class="heading">
			[[item.name]][[item.firstName]] [[item.lastName]]
			<div class="drop-line" ng-click="remove(item)"></div>
		</li>
		<li class="roles-list" ng-repeat="action in actions | orderBy:'priority'">
			<div class="role">
				[[translate(action.displayName)]]
			</div>
			<label class="checkbox">
				<input type="checkbox" ng-model="item.actions[action.displayName]" ng-change="saveRights(item, action)" />
				<span></span>
			</label>
		</li>
	</ul>
</div>
