<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<div class="share temp" ng-show="display.showCloseConfirmation === false">
	<div class="row line">
		<h2><i18n>share.title</i18n></h2>
		<form name="sharePanelForm">
			<div>
				<button class="panel-button right-magnet" ng-click="share()" ng-disabled="isSubmitDisabled()">
					<i18n>share</i18n>
				</button>
				<div class="block" ng-if="varyingRights">
					<div class="warning">
						<span class="no-style" translate content="[[varyingRightsI18nKey]]"></span>
					</div>
				</div>
			</div>

			<div class="row groups-list">
				<div>
					<ng-include src="shareTable"></ng-include>
				</div>

				<div class="flex-row justify-between align-center">
					<div class="saveSharebookmark">
						<div class="flex-row align-center" 
							ng-if="display.showSaveSharebookmarkInput === false && display.sharebookmarkSaved === false && sharingModel.edited.length > 0"
							workflow="directory.allowSharebookmarks">
							<a class="hover-icon" ng-click="display.showSaveSharebookmarkInput = true">
								<i class="add-favorite cell"></i> <i18n>share.save.sharebookmark</i18n>
							</a>
						</div>
						<div  class="flex-row"  ng-if="display.showSaveSharebookmarkInput === true && display.sharebookmarkSaved === false"
							workflow="directory.allowSharebookmarks">
							<input class="cell" 
								type="text"
								ng-model="newSharebookmarkName" 
								i18n-placeholder="share.mysharebookmark"
								required 
								ng-minlength="1">
							<a class="button is-light uppercase"
								ng-click="createSharebookmark(newSharebookmarkName)"
								ng-disabled="!newSharebookmarkName || sharingModel.edited.length < 1">
								<i18n>ok</i18n>
							</a>
						</div>
						<div ng-if="display.sharebookmarkSaved === true" workflow="directory.allowSharebookmarks">
							<span class="italic-text saved-in"><i18n>share.save.sharebookmark.in</i18n></span>
							<a href="/userbook/annuaire#/search" target="_blank"><i18n>share.mysharebookmarks</i18n></a>
						</div>
					</div>

					<a ng-click="displayMore()" 
						ng-if="canShowMore()" 
						class="display-more">
						<i18n>share.more</i18n>
					</a>
				</div>
			</div>
		</form>
	</div>

	<div class="row bottom-spacing-twice">
		<div class="flex-row align-center">
			<h2 class= "size-auto">
				<span ng-if="!display.workflowAllowSharebookmarks || display.workflowAllowSharebookmarks == false">[[translate('share.search.title')]]</span>
				<span workflow="directory.allowSharebookmarks">[[translate('share.search.sharebookmark.title')]]</span>
			</h2>
			<span class="tipbox up" workflow="directory.allowSharebookmarks">
				<div>
					<i class="help sticker square-medium"></i>
				</div>
				<div class="tipbox-content top">
					<span class="small-text">
						<i18n>share.tip.addFavorite</i18n>
					</span>
				</div>
			</span>
		</div>
		
		<search-user class="twelve cell" 
			ng-model="search"
			clear-list="clearSearch()"
			on-send="findUserOrGroup()"
			search-track="display.search">
		</search-user>
		<div class="found-users-list">
			<div ng-repeat="item in found | orderBy:[typeSort, 'name', 'username'] | limitTo:maxResults" class="row autocomplete temp">
				<div ng-click="addEdit(item)" class="row">
					<a class="cell right-spacing" ng-class="{sharebookmark: item.type === 'sharebookmark'}">
						<i class="add-favorite cell" ng-if="item.type === 'sharebookmark'"></i>
						<!-- group or sharebookmark name -->
						<span ng-if="item.name">[[item.name]]</span>
						<!-- user displayName -->
						<span ng-if="item.username">[[item.username]]</span>
					</a>
					<!-- structureName for groups -->
					<em ng-if="item.structureName" class="low-importance">[[item.structureName]]</em>
					<!-- profile for users -->
					<em ng-if="item.profile" class="low-importance">[[translate(item.profile)]]</em>
				</div>
			</div>
			<div class="row" ng-if="found.length === 0 && !display.search.processing">
				<div class="spacer-small"></div>
				<label class="low-importance medium-importance italic-text" ng-if="search.length >= 3" user-role="ADMIN_LOCAL">
					<i18n>portal.no.result</i18n>
				</label>
				<label class="low-importance medium-importance italic-text" ng-if="search.length" user-missing-role="ADMIN_LOCAL">
					<i18n>portal.no.result</i18n>
				</label>
			</div>
			<div class="row">
				<a ng-click="addResults()" ng-if="found.length > maxResults" class="right-magnet reduce-block-four">
					<i18n>seemore</i18n>
				</a>
			</div>
		</div>
	</div>
</div>

<div ng-show="display.showCloseConfirmation === true">
	<h1><i18n>sharepanel.close.title</i18n></h1>
	<div>
		<p><i18n>sharepanel.close.explanation</i18n></p>
		<p><i18n>sharepanel.close.confirmation</i18n></p>
	</div>
	<div class="row">
		<button ng-click="closePanel()" class="right-magnet"><i18n>sharepanel.close.confirm</i18n></button>
		<button ng-click="revertClose()" class="right-magnet cancel"><i18n>cancel</i18n></button>
	</div>
</div>
