<section class="wizard">
	<nav class="steps">

	</nav>
	<article class="current-step">
		<div class="step-content">

		</div>
		<nav>
			<button class="cancel" ng-click="cancel()">
				Annuler
			</button>
			<button class="previous" ng-click="previousStep();" ng-if="currentStep > 0">
				Précédent
			</button>
			<button class="next" ng-click="nextStep();" ng-if="currentStep < nbSteps - 1" ng-disabled="!nextCondition()">
				Suivant
			</button>
			<button class="finish" ng-if="currentStep === nbSteps - 1" ng-click="finish()" ng-disabled="!checkFinishCondition()">
				Terminer
			</button>
		</nav>
	</article>
	<div class="steps" ng-transclude>

	</div>
</section>
