<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<script type="text/ng-template" id="list-folders">
    <li ng-repeat="folder in folder.folders.all">
        <a ng-click="openFolder(folder)" ng-class="{ selected: folder === openedFolder, opened: folder.isOpenedRecursive(openedFolder) }">
            <i class="arrow" ng-if="folder.folders.all.length"></i> [[folder.name]]
        </a>
        <ul ng-include="'list-folders'" ng-show="folder.isOpenedRecursive(openedFolder)">
        </ul>
    </li>
</script>

<div class="row reduce-block-four search-image">
    <input type="search" ng-model="display.search" i18n-placeholder="search" ng-change="updateSearch()" class="six cell" />
    <div class="cell six">
        <button type="button" class="right-magnet" ng-disabled="display.loading || selectedDocuments().length === 0" ng-click="selectDocuments()">
            <i18n>library.browse.add</i18n>
        </button>
    </div>
</div>

<div class="row browse">
    <nav class="four cell vertical zero-mobile">
        <ul class="height-minus300">
            <li workflow="workspace.create">
                <a ng-click="listFrom('myDocuments')" ng-class="{ selected: myDocuments === openedFolder, opened: isListFrom('myDocuments') }">
                    <i class="arrow" ng-if="myDocuments.folders.all.length"></i>
                    <i18n>workspace.myDocuments</i18n>
                </a>
                <div>
                    <ul ng-include="'list-folders'" ng-if="isListFrom('myDocuments')" ng-repeat="folder in [myDocuments]">
                    </ul>
                </div>
            </li>
            <li>
                <a ng-click="listFrom('sharedDocuments')" ng-class="{ selected: sharedDocuments === openedFolder, opened: isListFrom('sharedDocuments') }">
                    <i class="arrow" ng-if="sharedDocuments.folders.all.length"></i>
                    <i18n>workspace.sharedDocuments</i18n>
                </a>
                <div>
                    <ul ng-include="'list-folders'" ng-if="isListFrom('sharedDocuments')" ng-repeat="folder in [sharedDocuments]">
                    </ul>
                </div>
            </li>
            <li ng-if="isExternalVisible()">
                <a ng-click="listFrom('externalDocuments')" ng-class="{ selected: display.listFrom === 'externalDocuments' }">
                    <i18n>workspace.externalDocs</i18n>
                </a>
            </li>
            <li workflow="workspace.create">
                <a ng-click="listFrom('appDocuments')" ng-class="{ selected: display.listFrom === 'appDocuments' }">
                    <i18n>workspace.appDocuments</i18n>
                </a>
            </li>
            <li workflow="workspace.create" ng-if="visibility === 'public'">
                <a ng-click="listFrom('publicDocuments')" ng-class="{ selected: display.listFrom === 'publicDocuments' }">
                    <i18n>workspace.publicDocuments</i18n>
                </a>
            </li>
        </ul>
    </nav>

    <div class="cell eight height-five twelve-mobile browse-list height-minus300 overflowx-hd overflowy-hd">

        <!--VIEW MODE-->
        <div class="cell right-magnet">
            <div class="choice-view">
                <i class="show-icons" ng-class="{ selected: isViewMode('icons') }" ng-click="changeViewMode('icons')"></i>
                <i class="show-list" ng-class="{ selected: isViewMode('list') }" ng-click="changeViewMode('list')"></i>
            </div>
        </div>

        <div class="reduce-block-eight" ng-if="!documents.length && !folders.length" style="text-align: center; margin-top: 40px">
            <i18n>library.browse.notfound</i18n>
        </div>
        <container ng-hide="!documents.length && !folders.length" template="documents-view"></container>
    </div>
</div>
<div class="row"></div>
