<div class="provider cell pick" ng-class="{ visible: display.provider.name === 'none' }">
    <div class="provider-content">
        <div class="supported-providers">

            <div class="info twelve cell">
                <i18n>video.embed.pickProvider</i18n>
            </div>
            <ul>
                <li ng-repeat="provider in providers">
                    <img ng-src="[[provider.logo]]" alt="[[provider.name]]" ng-click="display.provider = provider" />
                </li>
            </ul>
        </div>
        <div class="others-option row" ng-hide="hiddenShareVideoCode">
            <div class="info twelve cell">
                <i18n>video.embed.pickOther</i18n>
            </div>
            <div class="row">
                <i ng-click="display.provider = { name: 'other' }" class="others"></i>
            </div>

        </div>
        <div class="row">
            <button type="button" ng-click="cancel()" class="cancel right-magnet"><i18n>cancel</i18n></button>
        </div>
    </div>
</div>
<div class="provider cell other" ng-class="{ visible: display.provider.name === 'other' }">
    <p class="embedder-help twelve cell"><i18n>info.video.embed</i18n></p>
    <div class="row">
        <i class="copy"></i>

        <textarea ng-model="display.htmlCode"></textarea>
        <label><i18n>video.embed.placeholder.htmlCode</i18n></label>
    </div>
    <div class="row">
        <div class="preview" ng-if="display.htmlCode"></div>
        <div class="invalid-preview" ng-if="!display.htmlCode">
            <i18n>video.embed.preview</i18n>
        </div>
    </div>
    <div class="row">
        <button type="button" ng-click="applyHtml()" class="right-magnet"><i18n>apply</i18n></button>
        <button type="button" ng-click="unselectProvider()" class="cancel right-magnet"><i18n>back</i18n></button>
        <button type="button" ng-click="cancel()" class="cancel right-magnet"><i18n>cancel</i18n></button>
    </div>
</div>
<div ng-repeat="provider in providers"
     class="provider cell [[provider.name]]"
     ng-class="{ visible: display.provider.name === provider.name }">
    <div class="provider-content">
        <div class="row">
            <h2><i18n>video.embed.provider.title</i18n></h2>
            <div class="embedder-help twelve cell">
                <i18n>video.embed.provider.info</i18n>
            </div>
        </div>

        <div class="row input-help">
            <i class="copy"></i>

            <textarea ng-model="display.url"></textarea>
            <label><i18n>video.embed.placeholder.provider</i18n></label>
        </div>

        <div class="row">
            <div class="preview" ng-if="!display.invalidPath"></div>
            <div class="invalid-preview" ng-if="display.invalidPath && display.url">
                <i18n>video.embed.invalid</i18n>
            </div>
            <div class="invalid-preview" ng-if="!display.url">
                <i18n>video.embed.preview</i18n>
            </div>
        </div>

        <div class="row">
            <button type="button" ng-click="applyHtml()" class="right-magnet"><i18n>apply</i18n></button>
            <button type="button" ng-click="unselectProvider()" class="cancel right-magnet"><i18n>back</i18n></button>
            <button type="button" ng-click="cancel()" class="cancel right-magnet"><i18n>cancel</i18n></button>
        </div>
    </div>
</div>
