<div class="split-screen" ng-class="{ split: display.editedDocument !== undefined }">
    <div class="loading-list drop-zone">
        <ul>
            <li ng-repeat="doc in upload.documents"
                ng-click="openCompression(doc)"
                ng-class="{
                    'image-file': doc.isEditableImage && doc.uploadStatus === 'loaded',
                    'loading': doc.uploadStatus === 'loading',
                    selected: doc === display.editedDocument
                }"                
            >
                <div class="icon">
                    <i class="[[doc.role()]]"></i>
                    <i tooltip-check="doc.isEditableImage && doc.uploadStatus === 'loaded'"
                    tooltip="medialibrary.editImage.tooltip" class="edit" ng-if="doc.isEditableImage && doc.uploadStatus === 'loaded'"></i>
                </div>
                <div class="title">[[doc.name || doc.title]]</div>
                <div class="status-infos">
                    <span class="small-text horizontal-margin">
                        [[doc.size]]
                    </span>
                    <i ng-class="{
                        loading: doc.uploadStatus === 'loading',
                        loaded: doc.uploadStatus === 'loaded',
                        failed: doc.uploadStatus === 'failed'
                    }"></i>
                </div>
                <i class="close" ng-click="abortOrDelete(doc)"></i>
            </li>
        </ul>
    </div>
</div>
<div class="row zero-mobile">
    <div class="one cell">&nbsp;<!-- Marge d'Alizée, voir #44014 --></div>

    <div class="five cell">
        <em class="small-text"><i18n>video.upload.supported.formats</i18n></em>
        <br>
        <em class="small-text"><i18n>video.upload.supported.weight</i18n></em>
    </div>
    <div class="six cell">
        <button class="right-magnet" ng-click="confirmImport()" ng-disabled="!canConfirmImport()" type="button"><i18n>import</i18n></button>
        <button class="right-magnet cancel" ng-click="cancelUpload()" type="button"><i18n>cancel</i18n></button>
    </div>
</div>
<div class="twelve row zero-desktop">
    <p>
        <em class="small-text"><i18n>video.upload.supported.formats</i18n></em>
        <br>
        <em class="small-text"><i18n>video.upload.supported.weight</i18n></em>
    </p>
    <div class="twelve cell">
        <button class="right-magnet" ng-click="confirmImport()" ng-disabled="!canConfirmImport()" type="button"><i18n>import</i18n></button>
        <button class="right-magnet cancel" ng-click="cancelUpload()" type="button"><i18n>cancel</i18n></button>
    </div>
</div>
