<div ng-controller="VideoController" class="video" custom-guard="guard">
    <div class="recorder--video">
        <div ng-if="isIncompatible() && !isIncompatibleDevice()" class="browser" style="box-shadow:none">
            <h3><i18n>embed.video.incompatible</i18n></h3>
            <p><i18n>embed.video.incompatible.details</i18n></p>
            <p class="update">
                <a href="https://www.google.fr/chrome/browser/desktop/" target="_blank">
                    <img src="/auth/public/img/chrome_logo.png" />
                </a>
                <a href="https://www.mozilla.org/fr/firefox/new/" target="_blank">
                    <img src="/auth/public/img/firefox_logo.png" />
                </a>
            </p>
        </div>
        <div ng-if="isIncompatible() && isIncompatibleDevice()" 
            class="browser emptyscreen" 
            style="box-shadow:none">
            <h2 class="emptyscreen-header"><i18n>embed.video.incompatible.devices</i18n></h2>
            <p class="emptyscreen-footer"><i18n>embed.video.incompatible.devices.footer</i18n></p>
            <img class="emptyscreen-image" src="/assets/themes/entcore-css-lib/images/emptyscreen-recorder-video.svg">
        </div>

        <div class="recorder--activation" ng-if="!isIncompatible() && !isCameraVisible()">
            <p><i18n>video.auth.text</i18n></p>
            <div class="recorder--activation__auth">
                <button type="button" ng-click="startCamera()">
                    <i18n>video.start.camera</i18n>
                </button>
            </div>
        </div>
        <div class="recorder--controls" ng-if="isReady()">
            <button type="button" ng-click="startRecord()">
                <i class=record-video></i>
                <span><i18n>embed.start</i18n></span>
            </button>
            <select class="two cell" style="margin-top: 10px"
                ng-if="videoInputDevices.length > 1"
                ng-options="vid as vid.label for vid in videoInputDevices"
                ng-model="selectedVid" ng-change="switchCamera( selectedVid )" >
            </select>
        </div>
        <div class="recorder--controls controls" ng-if="showActions()">
            <button type="button" class="recorder--control stop" ng-click="switchRecording()" ng-disabled="!isRecording()">
                <i class=stop></i>
                <span><i18n>embed.stop</i18n></span>
            </button>
            <button type="button" class="recorder--control play" ng-click="play()" ng-disabled="!isRecorded() || !isReplayAllowed()">
                <i ng-class="{'play': !isPlaying(), 'pause': isPlaying()}"></i>
                <span ng-if="!isPlaying()"><i18n>embed.play</i18n></span>
                <span ng-if="isPlaying()"><i18n>embed.pause</i18n></span>
            </button>
            <button type="button" class="recorder--control redo" ng-click="redo()" ng-disabled="!isRecorded()">
                <i class=redo></i>
                <span><i18n>embed.redo</i18n></span>
            </button>
            <button type="button" class="recorder--control save" ng-click="upload()" ng-disabled="!isRecorded()">
                <i ng-class="{'save': !isUploading(), 'loading': isUploading(), 'block': isUploading()}"></i>
                <span><i18n>embed.save</i18n></span>
            </button>
        </div>
        <div ng-if="!isIncompatible()">
					<div class="recorder--viewer" ng-if="isUploading()"><p><i18n>video.upload.msg</i18n></p></div>
            <div class="recorder--viewer" ng-if="isReady() || isRecording()">
                <p><i18n>video.msg</i18n></p>
                <div class="recorder--timer">
                    <i class="rec" ng-if="isRecording()"></i>
                    <span>[[recordTime]] / [[pad(recordMaxTime)]]:00</span>
                </div>
            </div>
            <div class="recorder--viewer" ng-show="isCameraVisible()">
                <video id="gum" playsinline="true" autoplay muted ng-hide="isRecorded() && !isReplayAllowed()"></video>
            </div>
        </div>
    </div>
</div>