<div class="tools two">
    <button ng-disabled="!canApply()" ng-click="apply()" type="button"><i18n>apply</i18n></button>
    <button ng-disabled="!hasHistory()" ng-click="undo()" class="cancel" type="button"><i18n>cancel</i18n></button>
</div>

<div class="overlay ten cell crop" drawing-zone>
    <div class="handle" draggable resizable>
        <div class="corner nw"></div>
        <div class="corner sw"></div>
        <div class="corner ne"></div>
        <div class="corner se"></div>
    </div>
</div>
