<div class="row">
    <h2 class="flex-row align-center"><i class="back" ng-if="inline" tooltip="back" ng-click="hide()"></i> <i18n>imageeditor.title</i18n></h2>
</div>
<section class="tabs">
    <header
        ng-class="{ selected: template.contains('entcore/image-editor/tool', 'entcore/image-editor/rotate') }"
        ng-click="openTool('Rotate')">
        <i class="rotate"></i><i18n>rotate</i18n>
    </header>
    <header
        ng-class="{ selected: template.contains('entcore/image-editor/tool', 'entcore/image-editor/crop') }"
        ng-click="openTool('Crop')">
        <i class="crop"></i><i18n>crop</i18n>
    </header>
    <header
        ng-class="{ selected: template.contains('entcore/image-editor/tool', 'entcore/image-editor/blur') }"
        ng-click="openTool('Blur')">
        <i class="blur"></i><i18n>blur</i18n>
    </header>
    <header
        ng-class="{ selected: template.contains('entcore/image-editor/tool', 'entcore/image-editor/resize') }"
        ng-click="openTool('Resize')">
        <i class="resize"></i><i18n>resize</i18n>
    </header>
    <header
        resource-right resource="document" name="manager"
        ng-class="{ selected: template.contains('entcore/image-editor/tool', 'entcore/image-editor/properties') }"
        ng-click="openProperties()">
        <i class="properties"></i><i18n>properties</i18n>
    </header>
    <section>
        <div class="row image-actions-zone">
            <div class="output ten cell"></div>
            <div class="tools-background two cell"></div>
            <container template="entcore/image-editor/tool" guard-ignore-template></container>
        </div>
    </section>
</section>

<div class="row">
    <button class="cancel" ng-click="restoreOriginal()" type="button"><i18n>imageeditor.restore</i18n></button>
    <button class="right-magnet" ng-click="save()" ng-disabled="loading" type="button"><i18n>save</i18n></button>
    <i ng-if="loading" class="right-magnet loading save-loading"></i>
</div>
