<div class="row">
    <label class="twelve cell"><strong>Nom du fichier</strong></label>
    <input class="twelve cell" type="text" placeholder="Nom" ng-model="metadata.name" />
</div>
<div class="row">
    <label class="twelve cell"><strong>Texte alternatif</strong></label>
    <input class="twelve cell" type="text" placeholder="Affiché pour les non-voyants" ng-model="metadata.alt"  />
</div>
<div class="row">
    <label class="twelve cell"><strong>Légende</strong></label>
    <input class="twelve cell" type="text" placeholder="Saisir la légende" ng-model="metadata.legend" />
</div>