<div class="image-properties">
    <div class="row">
        <label class="twelve cell"><strong><i18n>filename</i18n></strong></label>
        <input class="twelve cell" type="text" i18n-placeholder="name" ng-model="document.newProperties.name" />
    </div>
    <div class="row">
        <label class="twelve cell"><strong><i18n>alttext</i18n></strong></label>
        <input class="twelve cell" type="text" i18n-placeholder="alttext.help" ng-model="document.newProperties.alt"  />
    </div>
    <div class="row">
        <label class="twelve cell"><strong><i18n>legend</i18n></strong></label>
        <input class="twelve cell" type="text" i18n-placeholder="legend.help" ng-model="document.newProperties.legend" />
    </div>
</div>