<div class="tools two">
    <div class="row zero-mobile">
        <input type="text" ng-model="document.width" complete-change="setWidth()" class="five cell" />
        <strong class="two cell"> x </strong>
        <input type="text" ng-model="document.height" complete-change="setHeight()" class="five cell" />
    </div>
    <button ng-disabled="!canApply()" ng-click="apply()" type="button"><i18n>apply</i18n></button>
    <button ng-disabled="!hasHistory()" ng-click="undo()" class="cancel" type="button"><i18n>cancel</i18n></button>
</div>

<div class="overlay ten cell" drawing-zone>
    <div class="handle" draggable>
        <div class="corner nw"></div>
        <div class="corner sw"></div>
        <div class="corner ne"></div>
        <div class="corner se"></div>
    </div>
</div>

<div class="zoom-info" ng-if="scale() > 1">
    <i18n>imageeditor.scale</i18n>
</div>
