<div class="split-screen" ng-class="{ split: display.editedDocument !== undefined }">
    <div class="loading-list drop-zone">
        <ul>
            <li ng-repeat="doc in upload.documents"
                ng-click="openCompression(doc)"
                ng-class="{
                    'image-file': doc.isEditableImage && doc.uploadStatus === 'loaded',
                    'loading': doc.uploadStatus === 'loading',
                    selected: doc === display.editedDocument
                }"                
            >
                <div class="icon">
                    <i class="[[doc.role()]]"></i>
                    <i tooltip-check="doc.isEditableImage && doc.uploadStatus === 'loaded'"
                    tooltip="medialibrary.editImage.tooltip" class="edit" ng-if="doc.isEditableImage && doc.uploadStatus === 'loaded'"></i>
                </div>
                <div class="title">[[doc.name || doc.title]]</div>
                <div class="status-infos">
                    <span class="small-text horizontal-margin">
                        [[doc.size]]
                    </span>
                    <i ng-class="{
                        loading: doc.uploadStatus === 'loading',
                        loaded: doc.uploadStatus === 'loaded',
                        failed: doc.uploadStatus === 'failed'
                    }"></i>
                </div>
                <i class="close" ng-click="abortOrDelete(doc)"></i>
            </li>
        </ul>
    </div>

    <div ng-if="display.editedDocument" class="compression">
        <div class="compression-view">
            <a class="cell to-list" ng-click="closeCompression()">
                <i class="back"></i><i18n>medialibrary.backtolist</i18n>
            </a>
            <h2 class="document-title"><i class="back" ng-click="display.editedDocument = undefined"></i>[[display.editedDocument.name || display.editedDocument.title]]</h2>
            <button type="button" class="cancel right-magnet" ng-click="editImage()"><i18n>medialibrary.editImage</i18n></button>
            <i class="back nav-arrow" ng-if="!isEditedFirst()" ng-click="previousImage()"></i>
            <i class="forward nav-arrow" ng-if="!isEditedLast()" ng-click="nextImage()"></i>
            <div ng-if="display.compressionReady"><image-compression document="display.editedDocument"></image-compression></div>
        </div>
    </div>
</div>
<div class="row">
    <em class="six cell small-text"><i18n>medialibrary.images.editable.formats</i18n></em>
    <button class="right-magnet" ng-click="confirmImport()" type="button"><i18n>import</i18n></button>
    <button class="right-magnet cancel" ng-click="cancelUpload()" type="button"><i18n>cancel</i18n></button>
</div>
