<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<div class="row">
	<div class="drop-zone import-files">
		<article class="drop">
				<i class="two cell cloud-upload"></i>
				<div class="ten cell help">
					<em><i18n>medialibrary.drop.help2</i18n></em>
				</div>
		</article>
		<article class="default">
			<div class="three cell select-file">
				<div class="hidden-content">
					<input type="file" multiple files-input-change="importFiles()" ng-model="upload.files" />
				</div>
				<button class="file-button" translate content="library.file.choose"></button>
			</div>
			<i class="two cell cloud-upload"></i>
			<div class="seven cell help">
				<em><i18n>medialibrary.drop.help</i18n></em>
			</div>
		</article>
		
	</div>
</div>